body {
  min-width: min-content;
  min-height: min-content;
  font-family: "Open Sans", sans-serif;
  color: rgb(9, 9, 9);
  background-color: rgb(206, 199, 211);
}

.top-panel {
  color: rgb(107, 107, 108);
  font-size: 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

input {
  border-color:rgb(178, 164, 239);
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
}

.font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.top-panel select:hover {
  color: rgb(178, 164, 239);
}

option:not(selected) {
  font-size: 35px;
  color:rgb(107, 107, 108)
}


.bg-calendar {
  /* min-width: 250px; */

  max-width: 100%;
  background-color: rgb(128, 109, 172);
  margin: 10px 40px;
  padding: 10px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.events {
  background-color: white;
  border-radius: 20px;
  width: 40%;
  min-width: 200px;
  
}

.time {
  width: min-content;
  padding: 0px;
}

.event {
  color: black;
  width: 100%;
  margin:10px;
  font-size: 20px;
}

.events h1 {
  text-align: center;
}

.month-calendar {
  text-align: center;
  min-width: 300px;
  width: 50%;
  height: 100%;
  font-weight: 600;
  font-size: 26px;
  margin: 10px;
  color: rgb(255, 255, 255);
}

th, td {
  padding: 5px 5px;
}

.weeknames {
  font-weight: 300;
  font-size: 30px;
}

.days:hover {
  text-decoration: underline;
}

.curr_day {
  color: rgb(82, 0, 158);
}

.menu {
  border: none;
  text-align: center;
  padding: 2px;
  max-height: auto;
  max-width: auto;
  outline: 0;
}

.area {
  border-color: rgb(178, 164, 239);
  border-radius: 5px;
  background-color: white;
  color: -internal-light-dark(black, white);
  border-width: 2px;
  border-collapse: collapse;
  border-style: inset;
  margin-top: 6px;
  height: 38px;
}

